SA_PASSWORD=Ch4ng3Me!Now

JWT_SIGNING_KEY=replace-this-with-a-random-32-plus-character-secret

JWT_ISSUER=file-storage-service
JWT_AUDIENCE=file-storage-clients

ENABLE_MOCK_TOKEN_ENDPOINT=true

ASPNETCORE_ENVIRONMENT=Development
